header {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
  position: fixed;
  gap: 30%;
  width: 100%;
  z-index: 3;
  top: 0;
}

.menu {
  display: grid;
  width: 50%;
  grid-template-columns: 1fr 1fr 1fr;
}

.menu a:hover {
  background-color: black;
  color: white;
  transition: all 0.5s;
}

.menu a {
  text-align: center;
  transition: all 0.5s;
  width: 130px;
  padding: 3%;
  border: 0px solid white;
  border-radius: 8px;
}