button {
  background-color: rgb(255, 255, 255);
  border: none;
  transition: background-color 0.5s;
}

button:hover {
  background-color: rgb(224, 224, 224);
  border: none;
  transition: background-color 0.5s;
}
button:active {
  background-color: rgb(121, 121, 121);
  border: none;
  transition: background-color 0.5s;
}

.parallax {
  /* The image used */
  background-image: url("IMG-1630-1 (1).jpg");

  /* Set a specific height */
  height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 100px;
  padding-left: 200px;
  padding-top: 40px;
  padding-bottom: 40px;
  flex: 1;
  display: inline-block;
}

.logo:hover {
  cursor: pointer;
}

span {
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0.2;
  transition: opacity 0.5s;
}

.header:hover {
  opacity: 1;
}

.menu {
  flex: 1;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  height: 40px;
  column-gap: 60px;
  margin-top: 40px;
  padding-top: 40px;
}

.menubutton {
  flex: 1;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.menubutton:hover {
  background-color: #0d5ed734;
  border: none;
  transition: background-color 0.5s;
  cursor: pointer;
}

.menubutton:active {
  background-color: #0d5ed762;
  border: none;
  transition: background-color 0.2s;
}

@media (max-width: 946px) {
  .header text {
    font-size: 10px;
  }
  .logo {
    padding-left: 0px;
  }
  .header {
    width: 75%;
  }
  
}