text {
  font-family: 'Rubik', sans-serif;
}

.big-text {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.parallax {
  /* The image used */
  background-image: url("IMG-1630-1 (1).jpg");

  /* Set a specific height */
  height: 1200px;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: rgb(255, 255, 255);
  border: none;
  transition: background-color 0.5s;
}

.homepage-h {
  right:400px; 
  right:500px; 
  right:350px; 
}

button:hover {
  background-color: rgb(224, 224, 224);
  border: none;
  transition: background-color 0.5s;
  cursor: pointer;
}
button:active {
  background-color: rgb(121, 121, 121);
  border: none;
  transition: background-color 0.5s;
}

.announcments {
  margin-top: 0px;
  background-color: #0D5DD7;
  color: white;
}

.first-slide {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: max-content;
}

.second-slide {

  display: grid;
  justify-content: center;
}

.draggin:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.draggin {
  transition: all 0.7s;
}

.draggin-adv:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.draggin-adv {
  transition: all 0.7s;
  width: 800px;
}

.mainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 300px;
  justify-content: center;
  align-items: top;
  margin-bottom: 200px;
}

.expertise {
  display:grid;
  background-color: #F4F4F4;
  justify-content: center;
}

.results {
  display: grid;
  justify-content: center;
  grid-template-rows: 300px 600px;
}

.res1 {
  display: grid; grid-template-rows: 300px 300px 300px; gap: 100px; align-items: top; justify-content: center;
}

form {
  align-items: center;
}

form:hover {
  cursor: pointer;
}

.homepage-h {
  position: absolute; 
  right:400px; 
  top: 500px; 
  width: 600px; 
  border-radius: 40px; 
  text-align: center;
}

.about-me {
  width: px;
}

.mobile-me {
  opacity: 0;
  height: 0px;
}



.cst1:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}


.cst2:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}




.adv-cont {
  display: grid; grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px; gap: 40px; justify-content: center; align-items: center; margin-bottom: 10px;
}

.soc-but:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.soc-but {
  transition: all 0.7s;
}



@media (max-height: 1300px){
  .parallax {
    height: 2000px;
  }

}