text {
  font-family: 'Rubik', sans-serif;
}

.big-text {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.parallax {
  /* The image used */
  background-image: url("IMG-1630-1 (1).jpg");

  /* Set a specific height */
  height: 1200px;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: rgb(255, 255, 255);
  border: none;
  transition: background-color 0.5s;
}


button:hover {
  background-color: rgb(224, 224, 224);
  border: none;
  transition: background-color 0.5s;
  cursor: pointer;
}
button:active {
  background-color: rgb(121, 121, 121);
  border: none;
  transition: background-color 0.5s;
}

.announcments {
  margin-top: 0px;
  background-color: #0d5ed700;
  color: white;
  opacity: 0;
  height: 0;
}

.first-slide {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: max-content;
}

.second-slide {
  
  display: grid;
  justify-content: center;
}

.draggin:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.draggin {
  transition: all 0.7s;
  opacity: 0;
}

.draggin-adv {
  width: 400px;
}

.mainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 100px;
  margin-top: 300px;
  justify-content: center;
  align-items: top;
  margin-bottom: 200px;
}

.expertise {
  display:grid;
  background-color: #F4F4F4;
  justify-content: center;
}

.results {
  display: grid;
  justify-content: center;
  grid-template-rows: 300px 1200px;
}

.res1 {
  display: grid; grid-template-rows: 300px 300px 300px; gap: 100px; align-items: top; justify-content: center;
}

.font_7 {
  margin-left: 50px;
  width: 400px;
}

form {
  align-items: center;
}

form:hover {
  cursor: pointer;
}

.mobile-me {
  height: 200px;
  opacity: 1;
  text-align: center;
  background-color: #ffffff00;
  font-size: 36px;
}

.adv-cont {
  display: grid; grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 300px 300px 200px; gap: 100px; justify-content: center; align-items: center; margin-bottom: 10px;
}


.links-soc {
  display: grid; grid-template-rows: 200px 200px; gap: 50px; justify-content: center;
}

.cst1 {
  display: grid; grid-template-rows: 300px 300px 300px; gap: 100px; justify-content: center; align-items: center; margin-bottom: 10px; margin-top: 200px; transition: all 0.7s;
}

.cst2 {
  display: grid; grid-template-rows: 300px 300px; gap: 100px; justify-content: center; align-items: center; margin-bottom: 300px; transition: all 0.7s;
}
