text {
  font-family: 'Rubik', sans-serif;
}

.big-text {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Rubik', sans-serif;
}

.parallax {
  /* The image used */
  background-image: url("IMG-1630-1 (1).jpg");

  /* Set a specific height */
  height: 1200px;
  position: relative;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: rgb(255, 255, 255);
  border: none;
  transition: background-color 0.5s;
}

.homepage-h {
  right:400px; 
  right:500px; 
  right:350px; 
}

button:hover {
  background-color: rgb(224, 224, 224);
  border: none;
  transition: background-color 0.5s;
  cursor: pointer;
}
button:active {
  background-color: rgb(121, 121, 121);
  border: none;
  transition: background-color 0.5s;
}

.announcments {
  margin-top: 0px;
  background-color: #0D5DD7;
  color: white;
}

.first-slide {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: max-content;
}

.second-slide {

  display: grid;
  justify-content: center;
}

.draggin:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.draggin {
  transition: all 0.7s;
  right: 500px;
}

.draggin-adv:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.draggin-adv {
  padding: 20px; text-align: center;  border: 0px; border-style: solid; border-color: rgba(0, 0, 0, 0.4); border-radius: 8px; box-shadow: 0px 24px 38px 3px rgba(0,0,0,0.14) , 0px 9px 46px 8px rgba(0,0,0,0.10) , 0px 11px 15px -7px rgba(0,0,0,0.2) ;
  transition: all 0.7s;
  width: 800px;
}

.mainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 300px;
  justify-content: center;
  align-items: top;
  margin-bottom: 200px;
}

.expertise {
  display:grid;
  background-color: #F4F4F4;
  justify-content: center;
}

.results {
  display: grid;
  justify-content: center;
  grid-template-rows: 1fr 1fr;
}

.res1 {
  display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 0px; align-items: top; justify-content: center;
}

form {
  align-items: center;
}

form:hover {
  cursor: pointer;
}

.homepage-h {
  position: absolute; 
  right:400px; 
  top: 500px; 
  width: 600px; 
  border-radius: 40px; 
  text-align: center;
}

.about-me {
  width: px;
}

.mobile-me {
  opacity: 0;
  height: 0px;
}

.cst1 {
  display: flex;
  flex-direction: raw;
  justify-content: center;
  transition: all 0.7s;
  gap: 10px;
  margin-top: 70px;
}

.mob-pic {
  position: absolute;
  opacity: 0;
}

.mob-txt {
  opacity: 0;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.cst2 {
  justify-content: center;
  display: flex;
  flex-direction: raw;
  transition: all 0.7s;
  gap: 10px;
}


.cst1:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}


.cst2:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}


.links-soc {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.adv-cont {
  display: grid; grid-template-rows: 200px 200px 200px 200px 200px 200px 200px 200px 200px 200px; gap: 10px; justify-content: center; align-items: center; margin-bottom: 10px;
}

.soc-but:hover {
  transform: translateY(-10px);
  transition: all 0.7s;
}

.soc-but {
  transition: all 0.7s;
}

@media  (max-width: 946px) {
  .draggin {
    right: 0px;
    opacity: 0;
  }
  body {
    width: 782px;
  }

  .mob-pic {
    position: absolute;
    opacity: 1;
    top: 400px;
    left: 50%;
  }
  .parallax {
    opacity: 0;
  }
  .mob-txt {
    position: absolute;
    opacity: 1;
    font-size: 24px;
    width: 782px;
    text-align: center;
  }
  .adv-cont {
    font-size: 14px ;
    gap: 100px;
    grid-template-rows: 400px 400px 400px 400px 400px 400px 400px 400px 400px 400px;
  }
  .draggin-adv {
    max-width: 600px;
  }
}

@media  (max-width: 1800px) {
  .draggin {
    right: 0px;
  }

}
@media  (max-width: 1600px) {
  .announcments p{

  }

}